
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutCompany</title>
    <style>
        body {
            background-color: #9999c8;
        }

        .ui-jqgrid .ui-pg-input {
            height: 20px;
        }

        .ui-jqgrid .ui-jqgrid-pager {
            height: 50px;
        }


        table {
            width: 70%;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #98bf21;
            padding: 3px 7px 2px 7px;
        }

        th {
            text-align: left;
            padding: 5px;
            background-color: #4646ca;
            color: #fff;
        }

        .alt td {
            background-color: #EAF2D3;
        }

        #button {
            background-color: gray;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            width: 90px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        .color {
            background-color: white;
        }
        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>
</head>
<ul>
    <li><a class="active" href="/Computers">Главная</a></li>
    <li><a href="/Computers/AboutCompany">О компании</a></li>
</ul>
<body>
    <h1>iGADGET.RU - немного о нас.</h1>
    <p>
        <small>
            «iGadget.ru» – одна из крупнейших сетей магазинов электроники, входит в Apple. На рынке с 1989 года.
            В инфраструктуре компании интернет-магазин iGadget.ru.ru, более 300 магазинов и пунктов выдачи заказов в 150 городах России.
            В продуктовом портфеле порядка 100 мировых брендов и 10000 наименований компьютерной, цифровой, бытовой техники, других категорий товаров.
            В портфеле услуг – сборка компьютеров, установка техники, подборка расходных материалов, электронные ключи и подписи, защита покупки и имущества, а также иные цифровые услуги.
            Магазины «iGadget.ru» оборудованы терминалами для самостоятельного оформления заказов, кассами оплаты и окнами выдачи товаров. Сall-центр компании работает 7 дней в неделю и оказывает покупателям.
        </small>
    </p>
    <h2>Плюсы нашей компании:</h2>
    <ul class="color">
        <li>
            <h3>Приятные финансовые условия</h3>
            <p>Цены - не кусаются, а вся техника прямиком от производителя.</p>
            <p>Особые условия для оптовых покупателей.</p>
        </li>
        <li>
            <h3>Различный ассортимент товаров</h3>
            <p>
                Огромный выбор техник iGadget в различных модификациях и расцветках.
            </p>
            </p>
        </li>
        <li>
            <h3>Качественный сервис</h3>
            <p>
                Наши сотрудники хорошо разбираются в любой технике, и всегда помогут вам, ответив на любой вопрос в удобное для вас время.
                Мы нацелены на долгосрочное сотрудничество и хотим, чтобы Вы пришли к нам ещё раз и посоветовали наш магазин своим друзьям.
            </p>
        </li>
        <li>
            <h3>Надежный партнер</h3>
            <p>
                Производитель на рынке уже более 30 лет.
                Мы гарантируем, что заказанные у нас товары будут предоставлены своевременно и качественно.
            </p>
        </li>
    </ul>
    <h1>Вы всегда сможете найти нас по адресу:</h1><br />
    <b>Россия, г. Самара, ул. Первомайская, 36</b><br />
    <br />
    Режим работы: пн-пт 09:00 -  23:00, сб-вс 11:00 - 21-00.<br />
    <br />
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afd309c6c89b4e8211fae0a3f19437cd24030228eb5466b75707d7f0ece508b98&amp;width=623&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

</body>
</html>
